@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --main-blue: #284cff; 
    --main-background : #ffffff ;
    --secondary-blue: #eff0f1 ; 
    --font-black: #11181c;
    --font-gray : #6e6d6d ;
    --font-blue: #3e82e7 ;
    --feilds-gray:#f8f8f7 ;
}

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

body{
    background-color: var(--main-background);
    width: 100%;
    font-family: "Inter", sans-serif;
}


.container{
    width: 90%;
    margin: auto;
}





/* end of container styling */


/* styling the logo  */

.header .nav .logo{
    text-decoration: none;
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 900;
    
}

/* start of headr styling */

.header{
    width: 100%;
    padding: 10px ;
    text-align: center;
 
    background-color: var(--main-background);
    z-index: 100;
    transition: 1  s;

    position: fixed;
    top: 0;
    left: 0;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .nav .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}





.header .nav .btns .user-pfp{
    border: 3px solid rgb(10, 140, 216);
}

.user-pfp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* end of header */


/* start of main content  */

.main{
    width: 100%;
    padding: 110px 30px  0 30px;
}

.main .posts{
    margin: auto ;
    padding: 30px 0;
    border-radius: 10px; 
    width: 90%;
    gap: 60px;
}
main .posts::-webkit-scrollbar{
    display: none;
}

.main .posts .post{
    width:80%;
    overflow: hidden;
    background-color: var(--secondary-blue);
    border-radius: 9px;
    padding: 30px;
    margin: 30px auto;
    cursor: pointer;
}
.main .posts .post:hover{
    transform: scale(1.01);
   

}


/* top */

.main .posts .post .publisher {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
  
}


.main .posts .post .publisher .txt{
    display: flex;
    flex-direction: column;
}
.main .posts .post .publisher p{
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.main .posts .post .publisher img{
    width: 60px;
    height: 60px;
    border-radius: 60%;


}

.main .posts .post .timing{
    color: var(--font-gray);
    padding-bottom: 0px;
}

.main .posts .post .image{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 10px; 
    border: var(--main-background) 10px solid;
}
.main .posts .post .image img{
    width: 100%;
    border-radius: 10px;
 
}


.main .posts .post .info{
    width: 100%;
    padding: 20px 0;
}
.main .posts .post .info h2{
    color: var(--font-black);
    font-weight: 300px;
    padding-bottom: 10px;
}
.main .posts .post .info p{
    color: var(--font-gray); 
    max-width: 900px;
    padding: 10px 0;
}


.main .posts .post .comment-btn{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
    border-radius: 30px;
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
   
}
.main .posts .post .comment-btn:hover{
    box-shadow: 0 0 5px 10px inset var(--feilds-gray);
    transform: scale(1.1);
}




/* comments */
.bottom{
    justify-content: space-between;
    align-items: center;
}

.bottom p{
    padding: 0;
    margin: 0 ;
}