@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --main-blue: #284cff; 
    --main-background : #ffffff ;
    --secondary-blue: #e5e7eb ; 
    --font-black: #11181c;
    --font-gray : #6e6d6d ;
    --font-blue: #3e82e7 ;
    --feilds-gray:#f8f8f7 ;
}

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--main-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.box{
    width: 400px ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box h1{
    color: var(--font-blue);
    font-weight:400;
    font-size: 50px;
    padding-bottom: 10px;
}

.box{
    width: 400px ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box h1{
    color: var(--font-blue);
    font-weight:400;
    font-size: 30px;
}
.box p{
    font-size: 15px;
    color: var(--font-gray);
    padding-bottom: 30px;

}


.box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box form label{
    color: var(--font-black);
    padding: 0 0 10px 5px;
}
.box form input{
    margin-bottom: 20px;
    border: none;
    padding: 15px 20px;
    border-radius: 9px;
    background-color: var(--feilds-gray);
}


.box button{
    background-color: var(--main-blue);
    border: none;
    padding: 15px 0;
    color: var(--feilds-gray);
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.box a{
    padding-top: 10px;
    color: var(--font-blue);
}



/* hover effects */

.box button:hover{
    background-color: var(--font-blue);
}
.box form input:focus{
    outline: none; 
    background-color: var(--secondary-blue);
}