@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --main-blue: #284cff; 
    --main-background : #ffffff ;
    --secondary-blue: #eff0f1 ; 
    --font-black: #11181c;
    --font-gray : #6e6d6d ;
    --font-blue: #3e82e7 ;
    --feilds-gray:#f8f8f7 ;
}

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

body{
    background-color: var(--main-background);
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
}


.container{
    width: 90%;
    margin: auto;
}



/* container styling */

@media (max-width: 375px) {
    .container{
        width: 95%;
    }
}

@media (min-width: 1100px) {
    .container{
        width:1024px;
    }
}
@media (min-width: 1440px) {
    .container{
        width:1300px;
    }
}

@media (min-width: 1900px) {
    .container{
        width:1600px;
    }
}



/* end of container styling */

/* start of headr styling */

.header{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 0.5px solid var(--secondary-blue);

    
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .nav .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.header .nav .btns .btn{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
    border-radius: 30px;

   
}

.header .nav .btns .btn:hover{
    box-shadow: 0 0 5px 10px inset var(--feilds-gray);
    transform: scale(1.1);
}

.header .nav .btns .user-pfp{
    border: 3px solid blueviolet;
}

.user-pfp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* end of header */


/* start of main content  */

.main{
    width: 100%;
    padding: 30px 30px  0 30px;
}

.main .posts{
    margin: auto ;
    padding: 30px 0;
    border-radius: 10px;
    width: 90%;
    height: calc(100vh - 170px);
    overflow-y: scroll;
    gap: 60px;

    scrollbar-width: none;
}
main .posts::-webkit-scrollbar{
    display: none;
}

.main .posts .post{
    width:80%;
    overflow: hidden;
    background-color: var(--secondary-blue);
    border-radius: 9px;
    padding: 30px;
    margin: 30px auto;
    cursor: pointer;
}
.main .posts .post:hover{
    transform: scale(1.01);
    box-shadow: 0 0 5px 1px inset var(--font-gray);

}

.main .posts .post .publisher {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.main .posts .post .publisher img{
    width: 60px;
    height: 60px;
    border-radius: 60px;

}

.main .posts .post .timing{
    color: var(--font-gray);
    padding-bottom: 30px;
}

.main .posts .post .info{
    width: 100%;
}
.main .posts .post .info h2{
    color: var(--font-black);
    font-weight: 300px;
    padding-bottom: 10px;
}
.main .posts .post .info p{
    color: var(--font-gray); 
    max-width: 900px;
    padding: 10px 0 20px;
}


.main .posts .post .image{
    width: 100%;

}
.main .posts .post .image img{
    width: 100%;
    
}

.main .posts .post .comment-btn{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
    border-radius: 30px;
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
   
}
.main .posts .post .comment-btn:hover{
    box-shadow: 0 0 5px 10px inset var(--feilds-gray);
    transform: scale(1.1);
}

button{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
 
    display: block;
    text-align: center;
    
    margin: auto;
    border: none;
    width: 100%;
    cursor: pointer;
}@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --main-blue: #284cff; 
    --main-background : #ffffff ;
    --secondary-blue: #eff0f1 ; 
    --font-black: #11181c;
    --font-gray : #6e6d6d ;
    --font-blue: #3e82e7 ;
    --feilds-gray:#f8f8f7 ;
}

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

body{
    background-color: var(--main-background);
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
}


.container{
    width: 90%;
    margin: auto;
}



/* container styling */

@media (max-width: 375px) {
    .container{
        width: 95%;
    }
}

@media (min-width: 1100px) {
    .container{
        width:1024px;
    }
}
@media (min-width: 1440px) {
    .container{
        width:1300px;
    }
}

@media (min-width: 1900px) {
    .container{
        width:1600px;
    }
}



/* end of container styling */

/* start of headr styling */

.header{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 0.5px solid var(--secondary-blue);

    
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .nav .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.header .nav .btns .btn{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
    border-radius: 30px;

   
}

.header .nav .btns .btn:hover{
    box-shadow: 0 0 5px 10px inset var(--feilds-gray);
    transform: scale(1.1);
}

.header .nav .btns .user-pfp{
    border: 3px solid blueviolet;
}

.user-pfp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* end of header */


/* start of main content  */

.main{
    width: 100%;
    padding: 30px 30px  0 30px;
}



.main  .post{
    width:80%;
    overflow: hidden;
    background-color: var(--secondary-blue);
    border-radius: 9px;
    padding: 30px;
    margin: 30px auto;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main  .post:hover{
    transform: scale(1.01);
    box-shadow: 0 0 5px 1px inset var(--font-gray);

}

.main  .post .publisher {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.main .post .publisher img{
    width: 60px;
    height: 60px;
    border-radius: 60px;

}

.main  .post .timing{
    color: var(--font-gray);
    padding-bottom: 30px;
}

.main  .post .info{
    width: 100%;
}
.main  .post .info h2{
    color: var(--font-black);
    font-weight: 300px;
    padding-bottom: 10px;
}
.main .post .info p{
    color: var(--font-gray); 
    padding: 10px 20px 20px;
}



.main  .post .image img{
    max-width: 300px ;
    border-radius: 10px;
}

.main .post .comment-btn{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
    border-radius: 30px;
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
   
}
.main  .post .comment-btn:hover{
    box-shadow: 0 0 5px 10px inset var(--feilds-gray);
    transform: scale(1.1);
}

button{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
 
    display: block;
    text-align: center;
    
    margin: auto;
    border: none;
    width: 100%;
    cursor: pointer;
}