:root{
    --main-blue: #284cff; 
    --main-background : #ffffff ;
    --secondary-blue: #eff0f1 ; 
    --font-black: #11181c;
    --font-gray : #6e6d6d ;
    --font-blue: #3e82e7 ;
    --feilds-gray:#f8f8f7 ;
}

.profile {
    max-width: 500px;
    margin: auto;
    background-color: var(--secondary-blue);
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;

    border-radius: 9px;
}

.profile img{
    width: 100%;
    border-radius: 9px;
}

.profile button{
    width: fit-content;
}


.profile .info p{
    color: var(--font-gray);
    padding: 20px 0;
}


.delete ,.edit{
    background-color: var(--main-blue);
    padding: 15px 25px;
    color: var(--feilds-gray);
 
    display: block;
    text-align: center;
    
    margin: auto;
    border: none;
    width: 100%;
    cursor: pointer;
}

.delete:hover,.edit:hover{
    background-color: var(--font-blue);
}


.main .posts{
    position: relative;
    height: fit-content;
  
}


.ur{
    margin: auto;
    text-align: center;
    width: fit-content;
}